<ion-view title="Login" id="page3" style="">
  <ion-content padding="true" class="has-header">
    <form id="login-form2" class="list">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input3">
          <span class="input-label">Email</span>
          <input placeholder="" type="email">
        </label>
        <label class="item item-input" id="login-input4">
          <span class="input-label">Password</span>
          <input placeholder="" type="password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button11" class="button button-stable  button-block">Log in</button>
      <a href-inappbrowser="/signup" id="login-button12" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>