<ion-view title="Signup" id="page4" style="">
  <ion-content padding="true" class="has-header">
    <form id="signup-form3" class="list">
      <ion-list id="signup-list3">
        <label class="item item-input" id="signup-input5">
          <span class="input-label">Name</span>
          <input placeholder="" type="text">
        </label>
        <label class="item item-input" id="signup-input6">
          <span class="input-label">Email</span>
          <input placeholder="" type="email">
        </label>
        <label class="item item-input" id="signup-input7">
          <span class="input-label">Password</span>
          <input placeholder="" type="text">
        </label>
      </ion-list>
      <button id="signup-button13" class="button button-stable  button-block">Sign up</button>
    </form>
  </ion-content>
</ion-view>